.h5p-documentation-tool {
  font-size: 16px;
}

/* Fix for box sizing themes */
.h5p-documentation-tool * {
  box-sizing: content-box;
}

.h5p-documentation-tool .joubel-exportable-area {
  box-sizing: border-box;
}

.h5p-documentation-tool :active {
  outline: none;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content:before {
  content: none;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container {
  min-height: 500px;
  width: 100%;
  max-width: 600px;
  color: #333;
  padding-bottom: 1em;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container .h5p-documentation-tool-page {
  display: block;
  height: 100%;
  max-width: 800px;
  visibility: hidden;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container .h5p-documentation-tool-page > * {
  padding: 0.5em 1em;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container .h5p-documentation-tool-page.current {
  visibility: visible;
  position: relative;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container .h5p-documentation-tool-page * {
  visibility: hidden;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container .h5p-documentation-tool-page.current * {
  visibility: visible;
}

.h5p-documentation-tool .h5p-documentation-tool-footer {
  display: block;
  position: relative;
  height: 2.25em;
  right: 0;
}

/* ---------------------------- Documentation Tool Buttons ------------------------------- */
/* Rounded button css in 'H5P.JoubelUI' library */

.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-prev,
.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-next {
  position: absolute;
  right: 1em;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 24px;
}

.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-prev:before,
.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-next:before {
  font-family: "H5PFontAwesome4";
  content: "\f104";
  color: #FFFFFF;
  font-size: 24px;
  position: relative;
  right: -0.375em;
  line-height: 28px;
}

/* Active state */
.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-prev:active:before,
.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-next:active:before {
  top: 2px;
}

.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-prev {
  margin-right: 3em;
}

.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-next:before {
  content: "\f105";
  color: #FFFFFF;
  right: -0.5em;
}

/* Do not show prev button for first page or next button for last page */
.h5p-documentation-tool .h5p-documentation-tool-page:first-child .h5p-documentation-tool-footer .h5p-navigation-button-prev,
.h5p-documentation-tool .h5p-documentation-tool-page:last-child .h5p-documentation-tool-footer .h5p-navigation-button-next {
  display: none;
}


/* ---------------------------- Responsive view ----------------------------- */
.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-documentation-tool-page-container {
  margin-left: 48px;
}

