.h5p-documentation-tool {
  font-size: 16px;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #EEEEEE;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container {
  display: inline-block;
  width: 80%;
  height: 100%;
  color: #626262;
  padding-bottom: 1em;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container .h5p-documentation-tool-page {
  display: none;
  height: 100%;
  max-width: 800px;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container .h5p-documentation-tool-page > * {
  padding: 0.5em 1em;
}

.h5p-documentation-tool .h5p-documentation-tool-page-container .h5p-documentation-tool-page.current {
  display: block;
}

.h5p-documentation-tool .h5p-documentation-tool-footer {
  display: block;
  position: relative;
}

/* ---------------------------- Documentation Tool Buttons ------------------------------- */

.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-prev,
.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-next {
  float: right;
  padding: 0;
  width: 30px;
  height: 30px;
}

.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-prev:before,
.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-next:before {
  font-family: "H5PFontAwesome4";
  content: "\f104";
  color: #FFFFFF;
  font-size: 24px;
  position: relative;
  right: -0.375em;
  line-height: 28px;
}

.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-prev {
  margin-right: 1.5em;
}

.h5p-documentation-tool .h5p-documentation-tool-footer .h5p-navigation-button-next:before {
  content: "\f105";
  color: #FFFFFF;
  right: -0.5em;
}

/* Remove margin for prev button on last page */
.h5p-documentation-tool .h5p-documentation-tool-page:last-child .h5p-documentation-tool-footer .h5p-navigation-button-prev {
  margin-right: 0em;
}

/* Do not show prev button for first page or next button for last page */
.h5p-documentation-tool .h5p-documentation-tool-page:first-child .h5p-documentation-tool-footer .h5p-navigation-button-prev,
.h5p-documentation-tool .h5p-documentation-tool-page:last-child .h5p-documentation-tool-footer .h5p-navigation-button-next {
  display: none;
}
