/* ------------------------ Navigation Menu ------------------------------------------ */

.h5p-documentation-tool .h5p-navigation-menu {
  width: 300px;
  vertical-align: top;
  background-color: var(--h5p-theme-alternative-light);
  color: var(--h5p-theme-text-third);
  font-size: var(--h5p-theme-font-size-m);
  font-weight: 600;
}

/* --------------------------- Header ---------------------------------------------- */

.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-header {
  padding: 0.85em 1em 0;
  margin-bottom: 1em;
}

/* ----------------------------- Entries -------------------------------------------- */
.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry {

  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
  position: relative;
  padding: 16px 0;
  padding-left: 18px;
  background-color: var(--h5p-theme-alternative-light);
}

.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry span {
  position: relative;
  padding-left: 15px;
}
.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry.required-inputs-not-filled span {
  color: var(--h5p-theme-feedback-incorrect-main);
  border: 1px solid var(--h5p-theme-feedback-incorrect-main);
  padding: var(--h5p-theme-spacing-xxs);
  border-radius: var(--h5p-theme-border-radius-medium);
}

.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry:before {
  content: "";
  top: 0;
  position: relative;
  z-index: 10;

  height: 15px;
  width: 15px;

  background: var(--h5p-theme-alternative-light);
  border-radius: 50%;
  box-shadow: 0 0 0px 6px var(--h5p-theme-alternative-light);
  outline: solid 2px var(--h5p-theme-main-cta-base);
  background-color: var(--h5p-theme-alternative-light);
  display: inline-block;
  transition: box-shadow 0.1s ease-in-out;
}

.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry:after {
  content: '';
  position: absolute;
  left: 22px;
  bottom: 0;

  top: 0;
  z-index: 0;

  height: 100%;
  width: 6px;
  background-color: color-mix(in srgb, var(--h5p-theme-main-cta-base), transparent 80%); 
}

/* Do not display the navigation menu "chain" for last child */
.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry:last-child:after {
 /* display: none;*/
  height: 100%;
}

/* Ignore paragraph browser margins */
.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry > p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Current entry */
.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry.current:before {
  background: var(--h5p-theme-main-cta-base);
  box-shadow: 0 0 0 8px  color-mix(in srgb, var(--h5p-theme-main-cta-base), transparent 80%); 
}

.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry.current {
  color: var(--h5p-theme-text-primary);
}

/* Hover over selected entry */
.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry.current:hover:before {
  background: var(--h5p-theme-main-cta-base);
  box-shadow: 0 0 0 8px  color-mix(in srgb, var(--h5p-theme-main-cta-base), transparent 60%); 
}

/* Hover entry */
.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry:hover:before {
  background: #fff;
  box-shadow: 0 0 0 8px  color-mix(in srgb, var(--h5p-theme-main-cta-base), transparent 60%); 
}

.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry:hover {
  color: var(--h5p-theme-text-secondary);
  
}

.h5p-documentation-tool .h5p-navigation-menu .h5p-navigation-menu-entry:hover:before{
  background: var(--h5p-theme-ui-base);
    box-shadow: 0 0 0 8px color-mix(in srgb, var(--h5p-theme-main-cta-base), transparent 60%);
}

/* -------------------------- Responsive layout ------------------------------*/

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-navigation-menu .h5p-navigation-menu-header span {
  display: none;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-navigation-menu {
  width: 32px;
  position: absolute;
  height: 100%;
  border-right: 1px solid #eee;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-navigation-menu .h5p-navigation-menu-entry {
  padding-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-navigation-menu .h5p-navigation-menu-entry:before {
  left: 11px;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-navigation-menu .h5p-navigation-menu-entry:after {
  left: 15px;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-navigation-menu .h5p-navigation-menu-header {
  padding: 0.75em 0 0.5em 0;
  cursor: pointer;
  margin-left: 7px;
   color: var(--h5p-theme-text-third);
}

/* Hover effect header */
.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-navigation-menu .h5p-navigation-menu-header:hover {
  color: #333;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive .h5p-navigation-menu .h5p-navigation-menu-header:before {
  font-family: "H5PFontAwesome4";
  content: "\f0c9";
  font-size: 1.5em;
}

/* ---------------------- Responsive layout expanded -------------------------*/

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive.expanded .h5p-navigation-menu {
  position: absolute;
  width: auto;
  max-width: 80%;
  z-index: 1;
  padding-right: 1em;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive.expanded .h5p-navigation-menu .h5p-navigation-menu-header span {
  display: inline-block;
  position: relative;
  margin-left: 1em;
  font-size: 1.2em;
  bottom: 0.1em;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive.expanded .h5p-navigation-menu .h5p-navigation-menu-entry span {
  visibility: visible;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive.expanded .h5p-navigation-menu .h5p-navigation-menu-header {
  color: #ccc;
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive.expanded .h5p-navigation-menu .h5p-navigation-menu-header span {
  color: color: var(--h5p-theme-text-third);
}

.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive.expanded .h5p-navigation-menu .h5p-navigation-menu-header:hover,
.h5p-documentation-tool .h5p-documentation-tool-main-content.responsive.expanded .h5p-navigation-menu .h5p-navigation-menu-header:hover span {
  color: #333;
}
